<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Karzada</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cart">My Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/order-history">My Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  style="width: 20rem;"/>
        <button class="btn btn-dark" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<br>



<!-- Products Cards Display -->
<div class="row">
  <div class="col-md-3 mb-3" *ngFor="let product of pagedProducts">
    <div class="card" style="width: 18rem; height: 22rem; margin-left: 2rem;">
      <img [src]="" class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.description }}</p>
        <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
        <p class="card-text"><strong>Available Stock:</strong> {{ product.stock }}</p>
        <button class="btn btn-dark" style="margin-top: 4rem;" (click)="buyNow(product)">Buy Now</button>
        <button class="btn btn-dark" style="margin-top: 4rem; margin-left:2rem;" (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div>

<!-- Pagination Code -->
<nav aria-label="Page navigation" class="mt-3 text-center">
  <ul class="pagination justify-content-center">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <button class="page-link text-black" (click)="changePage(currentPage - 1)">Previous</button>
    </li>

    <li 
      class="page-item"
      *ngFor="let page of totalPagesArray"
      [ngClass]="{'active': page === currentPage}">
      <button
        class="page-link"
        [ngClass]="{
          'bg-black text-white border-black': page === currentPage,
          'text-black': page !== currentPage
        }"
        (click)="changePage(page)">
        {{ page }}
      </button>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <button class="page-link text-black" (click)="changePage(currentPage + 1)">Next</button>
    </li>
  </ul>
</nav>
